# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs/DP Week 1 Build.slnx/FileContentIndex/1cf19003-80ef-4194-802e-a77473731d3d.vsidx
.vs/DP Week 1 Build.slnx/v18/Browse.VC.db
.vs/DP Week 1 Build.slnx/v18/ipch/AutoPCH/15743a32f826d05c/SHOPSYSTEM.ipch
/.vs
/.vscode
